.CodeMirror.cm-s-default {
    height: 100%;
}

.fv-tree-arianeLine {
    display: none;
}

.md-reader pre {
    background-color: white;
    padding: 5px;
}

.fv-tree-header {
    margin-top: 5px;
}

blockquote {
    border-left: solid aliceblue;
    padding-left: 20px;
}
